.variable-content{
	margin-bottom: 15px;
}
.contact-form{
  width: 100%;
}
.contactbox-wrap {
  margin:0 auto 30px auto;
  padding: 0 123px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -i-box-sizing: border-box;
}
.contactbox-header {
	font-family: "FiraSansBook";
	font-size: 27px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	background-color: #48cbe8;
	border-bottom: 20px solid #67dffa;
	margin: 0 0 36px 0;
	padding: 39px 0;
}
.contactbox-about{
  padding: 0;
  width: 100%;
}
.contactbox-name, .contactbox-email{
    margin-bottom: 10px;
    position: relative;
 }
 .contactbox-name{
  float: left;
 }
 .contactbox-email {
 	margin-left: 15px;
  float: right;
  }
.contactbox-text{
	display: block;
 	font-family: "FiraSansLight", "SansSerif";
  font-size: 19px;
  color: #848894;
}
.contactbox-input{
	border: 1px solid #48cbe8;
  border-radius: 4px;
  color: #48cbe8;
  padding: 10px;
  height: 20px;
  width: 170px;
}
.contactbox-textarea{
  width:383px;
  height: 160px;
  resize:none;
  margin-bottom:5px;
}

::-webkit-input-placeholder {color:#54cee9; font-size: 13px; font-family:"FiraSansLight", "SansSerif"; }
::-moz-placeholder          {color:#54cee9; font-size: 13px; font-family:"FiraSansLight", "SansSerif"; }/* Firefox 19+ */
:-moz-placeholder           {color:#54cee9; font-size: 13px; font-family:"FiraSansLight", "SansSerif"; }/* Firefox 18- */
:-ms-input-placeholder      {color:#54cee9; font-size: 13px; font-family:"FiraSansLight", "SansSerif"; }

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.check-capcha{
	font-size: 17px;
}
.contactbox-massege-code{
  	width: 188px;
  	height: 78px;
  	border: 1px solid #48cbe8;
  	border-radius: 4px;
  	background: #fff;
  	display: inline-block;
  	margin-bottom: 20px;
  	text-align: center;
  	font-size: 45px;
}
.contactbox-capcha {
	vertical-align: top;
  	margin: 20px 0 0 15px;
  	width: 172px;
  	height: 20px;
  	padding: 5px 10px;
}

.contact-button{
  	font-size: 19px;
  	font-family: "FiraSansBook", "SansSerif";
  	border-radius: 5px;
  	padding: 3px 25px;
  	color: #fff;
  	border: none;
  	outline: none;
}
.contact-button-submit{
	background: #48cbe8;
  	float: left;
  	position: relative;
  	overflow: hidden;
  	box-shadow: 0 2px 0 #3ba8c0;
}
.contact-button-clear{
  	background: #849db5;
  	float: right;
  	position: relative;
  	overflow: hidden;
  	box-shadow: 0 2px 0 #687b8f;
}
.contact-button-submit:hover,
.contact-button-clear:hover{
	-webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 2px 0 -2px;
  box-shadow: none;
}