.myworks-wrap{
	margin:0 5px;
}
.myworks-item{
	display: inline-block;
	width: 180px;
	vertical-align: top;
	min-height: 200px;
	margin:5px 15px 35px 15px; 
}
.myworks-item .myworks-image-box{
	width: 180px;
	height: 125px;
	overflow: hidden;
	border: 2px solid #3ba8c0;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
}
.myworks-item .img-work{
	width: 100%;
}

.myworks-item .myworks-image-link-wrap{
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(51,153,204,0.5);
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.myworks-item .myworks-image-link {
  width: 65px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: "FiraSansBook", "SansSerif";
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin: 53px auto 0px auto;
  position: relative;
  opacity: 0;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.myworks-item .myworks-image-box:hover div.myworks-image-link-wrap,
.myworks-item .myworks-image-box:hover a.myworks-image-link {
	top: 0px;
  opacity: 1;
}
.myworks-item .myworks-url {
	text-align: center;
	font-family: "FiraSansLightItalic", "SansSerif";
	font-size: 13px;
	color: #47adc4;
	margin-bottom: 13px;
}
.myworks-item .works-link{
	text-decoration: none;
	color: #47adc4;
}
.myworks-item .myworks-info{
	padding: 0;	
}
.myworks-item .myworks-info-about{
	padding: 0;
	text-align: center;
	font-family: "FiraSansLight", "SansSerif";
	font-size: 15px;
	color: #606972;
	line-height: 15px;
	margin-bottom: 2px;
}

.myworks-item .myworks-add-wrap{
	display: block;
	width: 100%;
	height: 128px;
	border-radius: 4px;
	overflow: hidden;	 
	border:1px dashed #3ba8c0;
	background: url(../img/add_works.png) center 35px no-repeat #edf8fc;
	position: relative;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.myworks-item .myworks-add-text {
	font-size: 13px;
	font-family: "FiraSansLight", "SansSerif";
	top: 78px;
	left:42px;
	text-align: center;
	position: absolute;
	color:#3ba8c0;
}
.galery__add-image:hover{
	border:1px solid #3ba8c0;
	-webkit-box-shadow: 0 0 10px rgba(59, 168, 192, .5);
	-moz-box-shadow: 0 0 10px rgba(59, 168, 192, .5);
	box-shadow: 0 0 10px rgba(59, 168, 192, .5);
}